body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px;
}
#input-btn{
    color: white;
    background-color: rgb(33, 91, 236);
    padding: 5px 20px 5px 20px ;
    margin-top: 5px;
    border-radius: 15px;
    font-size:1rem;
    border: none;
    
}
#input-el{
    border-color: rgb(3, 102, 241);
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
    width: 100%;
    height: 35px;  
}
a{
    text-decoration: none;
    color: rgb(51, 173, 23);
}
